<h1 align="center"> IST 5520 Project: Milestone 1 </h1>
<h3 align="center"> G5: Zach Brown, Rachel Fluegel, Xiaojing Ge, and Jing Sun </h3>

# Introduction

## Busness Problem/Scenario

### What is KickStarter?

Have you ever had an idea about creating something that improves on what something else already does, or even does something that has never been done before?  Lots of people do, but until recently, very few had the resources to make their visions into reality.  But the Internet, as it has evolved, has changed that.  Now, creators of all stripes — from musicians to graphic artists to designers to engineers — can get the funding that they need to bring their concepts to life.  And it comes from everyday people around the world, just like you.  One of the most popular places where this all happens is on the website Kickstarter.

Kickstarter is an online fundraising platform.  Creators post their projects, providing specifications for their finished product, potential risks and challenges, and progress updates.  Then, other people can donate money towards projects, usually earning a reward if the project meets its fundraising goal. As the website (https://techboomers.com) describes:

"Kickstarter is often referred to as a "crowdfunding" platform, and you may see us refer to it (and other services like it) as such.  Basically, "crowdfunding" is a business model where creators of a project or business solicit donations from a large number of people at once, thereby reducing the amount of money that each donor has to pay.  The worldwide and interconnected nature of the Internet makes this model easy to implement through websites like Kickstarter."

Kickstarter projects are spread across 15 diverse categories.  They may compose music, create gadgets, write books or comic books, or design the newest trendy fashions!

For backers that support a kickstarter project, they will get an inside look at the creative process, and help that project come to life. They also get to choose from a variety of unique rewards offered by the project creator. Rewards vary from project to project, but often include a copy of what is being produced (CD, DVD, book, etc.) or an experience unique to the project. However, there is no guarantee that people who post projects on Kickstarter will deliver on their projects, use the money to implement their projects, or that the completed projects will meet backers' expectations. Therefore, backers need to use their own judgment on supporting a project. This is also the reason we choose to investigate the patterns of selection dataset by using some business analytics methods.

<img src= 'Raise-1-million-on-Kickstarter-6-1280x640.jpg'>

### Business Scenario

Based on the dataset we found online (https://www.kaggle.com/toshimelonhead/400000-kickstarter-projects), in this project we want to conduct an exploratory study on the Kickstarter projects collected on the Kaggle website. Specifically, we want to answer the following research questions:

 - How can we build a predictive model to estimate how likely a project will be successful?
 - What is the percentage of each business group that was successful?
 - What variables are consistent through the successful/failed business category projects?
 - How much does each variable affect the end result of each business category?
 - Who can be benefit from the project?
 - Why would this analysis be important?

# Data Source and Collection

## Data Source and Key Infomation

We found our Kickstarter data from Kaggle.
(https://www.kaggle.com/toshimelonhead/400000-kickstarter-projects#kickstarter.csv)

We first decided to import pandas so we can import the csv file and be able to clean and analyze the data later on in the project.

In [1]:
import pandas as pd

Using panadas we can read the csv file from the location its saved.

In [2]:
kickstarter = pd.read_csv("~/Desktop/Python/Kickstarter.csv",
                         header = None)
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727 entries, 0 to 3726
Data columns (total 38 columns):
0     3727 non-null object
1     3727 non-null object
2     3727 non-null object
3     3727 non-null object
4     3727 non-null object
5     3727 non-null object
6     3727 non-null object
7     3727 non-null object
8     3727 non-null object
9     3727 non-null object
10    3727 non-null object
11    3727 non-null object
12    3727 non-null object
13    3727 non-null object
14    1 non-null object
15    3727 non-null object
16    3727 non-null object
17    3727 non-null object
18    1 non-null object
19    3727 non-null object
20    1 non-null object
21    3727 non-null object
22    3720 non-null object
23    3727 non-null object
24    1 non-null object
25    3727 non-null object
26    3727 non-null object
27    3727 non-null object
28    3727 non-null object
29    3727 non-null object
30    3727 non-null object
31    3727 non-null object
32    3727 non-null object
33    3727 non-null object
34    3727 non-null object
35    3727 non-null object
36    3727 non-null object
37    3724 non-null object
dtypes: object(38)
memory usage: 1.1+ MB

The ~/Desktop/Python/ is where one person in our group saved the csv file to be able to import into Python. It will be different for everyone since we all will have it saved in different places. By using Pandas info() function, we can get some general information about this data set. There are totally 38 variables and more than 3700 observations, which meet the basic requirement for data set. However, some variables do not have any data. We need to deal with them carefully when doing data mining in the future.

To know the exact name of each variables, we can use .head() function as below:

In [3]:
kickstarter.head(1).transpose()

                           0
0              backers_count
1                      blurb
2                   category
3   converted_pledged_amount
4                    country
5   country_displayable_name
6                 created_at
7                    creator
8                   currency
9            currency_symbol
10    currency_trailing_code
11          current_currency
12                  deadline
13     disable_communication
14                   friends
15                   fx_rate
16                      goal
17                        id
18                is_backing
19              is_starrable
20                is_starred
21               launched_at
22                  location
23                      name
24               permissions
25                     photo
26                   pledged
27                   profile
28                      slug
29                source_url
30                 spotlight
31                staff_pick
32                     state
33          state_changed_at
34           static_usd_rate
35                      urls
36               usd_pledged
37                  usd_type

In order to know the total missing data of each variable, we can use .apply() with lambda function shown as below:

In [4]:
kickstarter.apply(lambda x: sum(x.isnull()), axis=0)

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14    3726
15       0
16       0
17       0
18    3726
19       0
20    3726
21       0
22       7
23       0
24    3726
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       0
34       0
35       0
36       0
37       3
dtype: int64

To see some observations, we can use .head() function shown as below:

In [5]:
kickstarter.head(3).transpose()

,0,1,2
0,backers_count,31,403
1,blurb,Un livre enfant pour l’apprentissage des émoti...,"The true biography of the historical figure, w..."
2,category,"{""id"":46,""name"":""Children's Books"",""slug"":""pub...","{""id"":252,""name"":""Graphic Novels"",""slug"":""comi..."
3,converted_pledged_amount,709,14740
4,country,FR,US
5,country_displayable_name,France,the United States
6,created_at,1561554849,1438740713
7,creator,"{""id"":469036700,""name"":""Camille de Germond"",""i...","{""id"":1695121020,""name"":""Katy Rex"",""slug"":""kat..."
8,currency,EUR,USD
9,currency_symbol,€,$
10,currency_trailing_code,false,true
11,current_currency,USD,USD
12,deadline,1566744397,1442204367
13,disable_communication,false,false
14,friends,NaN,NaN
15,fx_rate,1.10897326,1
16,goal,600,12000
17,id,1458932991,498799566
18,is_backing,NaN,NaN
19,is_starrable,false,false
20,is_starred,NaN,NaN
21,launched_at,1561560397,1439612367
22,location,"{""id"":12665488,""name"":""Ste.-Maxime"",""slug"":""st...","{""id"":2452078,""name"":""Minneapolis"",""slug"":""min..."
23,name,Louli à l’école,"Strange Wit, an original graphic novel about J..."
24,permissions,NaN,NaN
25,photo,"{""key"":""assets/025/618/188/1ee876a3b9923c72e2e...","{""key"":""assets/012/216/438/fa1eea62bb76f21b650..."
26,pledged,631,14740.629999999999
27,profile,"{""id"":3761403,""project_id"":3761403,""state"":""in...","{""id"":2051485,""project_id"":2051485,""state"":""ac..."
28,slug,louli-a-lecole,strange-wit-an-original-graphic-novel-about-ja...
29,source_url,https://www.kickstarter.com/discover/categorie...,https://www.kickstarter.com/discover/categorie...
30,spotlight,true,true
31,staff_pick,false,true
32,state,successful,successful
33,state_changed_at,1566744397,1442204368
34,static_usd_rate,1.14066056,1
35,urls,"{""web"":{""project"":""https://www.kickstarter.com...","{""web"":{""project"":""https://www.kickstarter.com..."
36,usd_pledged,719.75681336,14740.629999999999
37,usd_type,domestic,international

## High level requirements

By looking at general information of dataset above, we do need to deal with it carefully due to missing data. Also for the category variable, data may be different for each observation. However, some obasevations have the same id and name if we look into it carefully. Therefore, we may need to add new variables to the dataset like id and name instead of category itself. These will help us a lot for the further investigation such as the relationship between project category and success rate.